
<ul class="list-group">
    <li class="list-group-item">
        <div class="post" *ngFor='let post of allPost' >
            <div class="top">
                <div class="picture">
                    <img [src]="post.User.picture">
                </div>
                <div class="top-post">
                    <h1>{{ post.User.firstName }} {{ post.User.lastName }}</h1>
                    <p>publié le {{ post.createdAt | date:'dd/MM/yyyy' }} à {{ post.createdAt | date:'HH:mm' }} </p>                    
                </div>
                <div id="menuToggle" *ngIf="connectUserId === post.UserId">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
              
                    <ul id="menu">
                        <li>
                            <div class="button">
                                <button routerLink="/modify-post">Modifier<fa-icon></fa-icon></button>
                            </div>
                        </li>
                        <li><app-delete-post [postId]="post.id"></app-delete-post></li>
                    </ul>
                  </div>
            </div>
            <img [src]="post.attachment">
            <div class="content">
               <p>{{ post.content }} </p>  
            </div>
                   
        <div class="interaction">
            <app-like [postId]="post.id"></app-like>
        </div>
        <div class="comment-post" >
            <div class="user-picture" *ngFor="let userProfile of oneUserProfil">
                <img [src]="userProfile.picture" class="picture-profile">
            </div>
            <div class="comment" [formGroup]="postComment">
                <textarea class="message form-control" placeholder="Votre commentaire ..." formControlName="postOneComment"></textarea>
            </div>
            <div class="button">
                    <button class="comment-button" (click)="writeComment(post.id)"><fa-icon [icon]="faComment"></fa-icon></button>
            </div>
        </div>
        </div>
    </li>
</ul>