<app-header></app-header>
<app-nav></app-nav>
<h1>Paramètres du compte</h1>
<div class="information" *ngFor="let user of oneUserProfil">
    <div class="modification" >
        <p>Nom : {{ user.lastname }} </p>
    </div>
    <div class="modification">
        <p>Prénom : {{ user.firstname }}</p>
    </div>
    <div class="modification">
        <p>Email : {{ user.email }}</p>
    </div>
    <div class="modification">
        <p>Date de naissance : {{ user.datebirth }}</p>
    </div>
    <div class="picture">
        <p>Photo de profil : <img [src]="user.picture" alt=""></p>
    </div>
    <button class="delete-account" (click)="deleteUser()" routerLink="/signup">supprimer le compte</button>
    <button class="modify-account" routerLink="/modify-account">Modifier les informations</button>
</div>
<app-footer></app-footer>
