<app-header></app-header>
<app-nav></app-nav>
  <form  [formGroup]="modifyPost" >
    <h1>Modifier votre publication : </h1>
    <div class="form-group"> 
       <textarea class="message form-control" formControlName="modifycontent" [(ngModel)]="onePost.content" ></ng-content></textarea>
    </div>
    <div class="picture">
        <p>Pièce jointe : <img [src]="" alt=""></p>
        <label for="file" class="label-file">Choisir une image</label>
        <input id="file" accept=".png, .jpeg, .jpg, .mp4, .gif" type="file" class="input-file" formControlName="modifyattachment" (change)="onFileAdded($event)">
    </div>     
    <button (click)="updatePost()" routerLink="/home">Valider</button>
  </form>  
<app-footer></app-footer>