::ng-deep * {
    margin: 0;
    padding: 0;
    //background-color: rgb(18, 36, 65);
    font-family: "montserrat", Arial, Helvetica, sans-serif;
}
h1{
    color: white;
    text-align: center;
    margin: 30px 0;
    font-size: 20px;
}
form{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(209, 81, 90);
    width: 70%;
    padding: 10px;
    margin: 8% auto 8%;
    border-radius: 10px;
    input{
        width: 150px;
        margin: 10px auto;
        padding-left: 10px;
        background-color: white;
        height: 30px;
        outline: none;
        font-size: 16px;
    }
    button{
        margin: 30px auto;
        font-size: 16px;
        width: 100px;
        border: 2px solid rgb(0, 121, 177);
        height: 30px;
        color: white;
        border-radius: 5px;
        outline: none;
        &:hover{
           transform: scale(1.1); 
        }
        :disabled{
            background-color: rgb(119, 119, 119);
            transform: scale(1);
        }
    }
}
p{
    text-align: center;
    color: white;
    font-size: 16px;
    margin-bottom: 30px;
}
a{
    color: rgb(0, 121, 177);
}

.form-group{
    display: flex;
    flex-direction: column;
    label{
        margin: 0 auto;
        color: white;
    }
}
.input-file{
    display: none;
}
.picture{
    color: white;
    margin: 0 auto;
}
textarea{
    color: white;
}
