<app-header></app-header>

<div class="login">
    <form [formGroup]="loginForm">
        <h1>Connectez vous</h1>
        <div class="form-group">
            <label for="email">Adresse email : </label>
            <input type="email" id="email" placeholder="nom d'utilisateur" formControlName="email" class="email form-control">
        </div>
        <div class="form-group">
            <label for="password">Mot de passe : </label>
            <input type="password" placeholder="mot de passe" formControlName="password" class="password form-control">
        </div>
        
        <button (click)='onLogin()'>Se connecter</button>
        <p >Si vous n'avez pas<br>encore de compte<br>créé en un <a routerLink="/register">ici</a></p>  
    </form>
</div>
<app-footer></app-footer>
