.footer{
    width: 100%;
    bottom: 0;
    border-top: 2px solid rgb(0, 121, 177);
    padding-bottom: 20px;
    margin-top: 20px;
    .footer-txt{
        text-align: center;
        font-size: 16px;
        color: white;
    }
    .top{
        margin-top: 30px;
    }
}
