::ng-deep * {
    margin: 0;
    padding: 0;
    background-color: rgb(18, 36, 65);
    font-family: "montserrat", Arial, Helvetica, sans-serif;
    color: white;
}

// h1{
//     font-size: 20px;
//     margin-bottom: 5px;
//     background-color: rgb(34, 53, 83);
//     padding: 5px 10px 5px;
//     border-radius: 5px 5px 0 0;
// }
// .private-message{
//     width: 90%;
//     margin: 10px auto;
//     color: white;
//     background-color: rgb(34, 53, 83);
//     border-radius: 10px;
//     box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.72);
//     .message{
//         width: 100%;
//         background-color: rgb(34, 53, 83);
//         border-radius: 0 0 5px 5px;
//     }
//     p{
//         width: auto;
//         overflow: hidden;
//         white-space: nowrap;
//         text-overflow: ellipsis; 
//         font-family: "montserrat-regular", Arial, Helvetica, sans-serif;
//         font-size: 16px;
//         background-color: rgb(34, 53, 83);
//         padding: 0 10px 5px;
//         border-radius: 0 0 5px 5px;
//     }
// }


// .container-fluid{
//     padding: 50px 200px;
//     overflow: hidden;
// }
// .user-list-card{
//     background-color: white;
//     border-radius: 10px;
//     box-shadow: 0 10px 30px rgba(0,0,0,0.05);
//     height: calc(100vh - 100px);
//     padding: 10px;
//     .user-card{
//         display: flex;
//         padding: 10px;
//         cursor: pointer;
//         &.active{
//             background-color: silver;
//         }
//         .avatar{
//             height: 50px;
//             width: 50px;
//             border-radius: 50%;
//             overflow: hidden;
//             margin: 0 15px 0 0;
//         }
//         .username{
//             font-size: 20px;
//             font-weight: 500;
//             margin-bottom: 0;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//         }
//     }
//     .user-card:not(:last-child){
//         border-bottom: 1px solid rgb(209, 81, 90);
//     }
//     .chat-container{
//         background-color: sandybrown;
//         border-radius: 10px;
//         box-shadow: 0 10px 30px rbga(0,0,0,0.05);
//         height: calc(100vh - 100px);
//         position: relative;
//         overflow: hidden;
//     }
//     .chat-header{
//         height: 70px;
//         background-color: sienna;
//         display: flex;
//         justify-content: flex-start;
//         align-items: center;
//         .avatar{
//             height: 30px;
//             width: 30px;
//             border-radius: 50%;
//             overflow: hidden;
//             margin: 0 20px;
//         }
//         .username{
//             font-size: 14px;
//             font-weight: 500;
//             margin-bottom: 0;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//         }
//     }
//     .chat-body{
//         background-color: springgreen;
//         height: calc(100vh - 125px);
//         overflow-y: auto;
//         .message-container{
//             background-color: red;
//             padding: 7px;
//             border-radius: 5px;
//             width: fit-content;
//             max-width: 90%;
//             margin-bottom: 15px;
//         }
//         .same-user{
//             display: flex;
//             justify-content: flex-end;
//             .message-container{
//                 background-color: lightskyblue;
//             }
//         }
//     }
//     .chat-footer{
//         position: absolute;
//         bottom: 0;
//         left: 0;
//         right: 0;
//         background-color: magenta;
//         padding: 10px 20px;
//         .form-control{
//             background-color: midnightblue;
//             border: 1px solid red;
//             box-sizing: border-box;
//             border-radius: 20px;
//             font-size: 1rem;
//             color: black;
//         }
//     }
// }
// .col-md-8{
//     background-color: oldlace;
// }
