.header{
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(0, 121, 177);
    img{
        width: 200px;
        box-sizing: border-box;
        margin: 0 auto;
    }
}