button{
    font-size: 16px;
    color: white;
    padding: 5px 10px;
    border: 2px solid #0079b1;
    border-radius: 5px;
    outline: none;
    &:hover{
        transform: scale(1.1);
        border: 2px solid yellowgreen;
    }
    fa-icon{
        margin-left: 10px;
    }
   
}
