button{
    display: flex;
    font-size: 16px;
    color: white;
    padding: 5px 10px;
    border: 2px solid rgb(209, 81, 90);
    border-radius: 50%;
    outline: none;
    background-color: rgb(18, 36, 65);
    position: absolute;
    right: -40px;
    height: 40px;
    z-index: 2;
    @media only screen and (min-width : 1224px){
        right: 15px;
    }
    &:hover{
        transform: scale(1.1);
        border: 2px solid yellowgreen;
    }
    fa-icon{
        margin-top: 4px;
    }
    .faHandRock{
        transform: rotate(90deg);
    }
}
