button{
    display: flex;
    font-size: 16px;
    color: white;
    padding: 5px 10px;
    border: 2px solid rgb(209, 81, 90);
    border-radius: 50%;
    outline: none;
    background-color: rgb(18, 36, 65);
    //position: absolute;
    right: 15px;
    height: 40px;
    z-index: 2;
    @media only screen and (min-width : 1224px){
        right: 40px;
    }
    &:hover{
        transform: scale(1.1);
    }
    fa-icon{
        margin-top: 4px;
    }
    .faHandRock{
        transform: rotate(90deg);
    }
}
.likes-counter{
    font-family: "montserrat-regular", Arial, Helvetica, sans-serif;
    border: 1px solid rgb(209, 81, 90);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    font-size: 14px;
    padding: 5px 5px 5px 5px;
    position: absolute;
    right: 30px;
    top: -10px;
    z-index: 1;
    color: white;
    @media only screen and (min-width : 1224px){
      left: -15px;
    }
  }
fa-icon{
    background-color: rgb(18, 36, 65);
}
.truc{
    background-color: rgb(18, 36, 65);
}