
<ul>
    <cdk-virtual-scroll-viewport itemSize = "500" class = "viewport"> 
    <li>
        <div class="post" *cdkVirtualFor='let post of allPost' >
            <div class="top">
                <div class="picture" *ngIf="post.User.picture">
                    <img [src]="post.User.picture">
                </div>
                <div class="picture" *ngIf="post.User.picture === null">
                    <img src="{{fullPathname}}">
                </div>
                <div class="top-post">
                    <h1>{{ post.User.firstName }} {{ post.User.lastName }}</h1>
                    <p class="user-name">publié le {{ post.createdAt | date:'dd/MM/yyyy' }} à {{ post.createdAt | date:'HH:mm' }} </p>                    
                </div>
                <div class="interaction">
                    <app-like [postId]="post.id" [like]="post.like" class="like"></app-like>
                </div>
                <div id="menuToggle" *ngIf="connectUserId === post.UserId || isAdmin === true">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="menu">
                        <li>
                            <div class="button-menu">
                                <button class="modify-button" [routerLink]="['/modify-post/',post.id]" [postId]="post.id">Modifier<fa-icon></fa-icon></button>
                            </div>
                        </li>
                        <li><app-delete-post [postId]="post.id"></app-delete-post></li>
                    </ul>
                  </div>
            </div>
            <div class="content">
                <p>{{ post.content }}</p>  
             </div>
            <div *ngIf="post.attachment != null" class="attachment-post">
                <img [src]="post.attachment" >
            </div>
            <div *ngIf="post.movie != null" class="attachment-post">
                <video controls width="340">
                    <source [src]="post.movie">
                </video>
            </div>




        <div class="comment-post">
            <div class="user-picture" *ngFor="let userProfile of oneUserProfil">
                <div *ngIf="userProfile.picture" class="user-picture-profile">
                   <img [src]="userProfile.picture" class="picture-profile"> 
                </div>
                <div *ngIf="userProfile.picture === null " class="user-picture-profile">
                    <img src="{{fullPathname}}" class="picture-profile"> 
                 </div>
            </div>
            <div class="comment" [formGroup]="postComment">
                <textarea class="message form-control" placeholder="Votre commentaire ..." formControlName="postOneComment"></textarea>
                <div class="button-comment">
                <div class="picture">
                    <label for="fileComment" class="label-file"><fa-icon [icon]="faPaperClip"></fa-icon></label>
                    <input id="fileComment" type="file" name="image" class="input-file form-control" (change)="onFileCommentAdded($event)" formControlName="attachmentComment">
                </div>   
                <div class="button">
                    <button class="comment-button" (click)="writeComment(post.id)"><fa-icon [icon]="faComment"></fa-icon></button>
                </div>
                </div>
            </div>
            
        </div>
        <div *ngFor='let comment of allComment'>
        <div class="view-comment" *ngIf="comment.messageId === post.id">
            <div class="comment-container" *ngIf="post.id === comment.messageId">
                
            <div class="comment-informations"  >
                <div id="menuToggle" *ngIf="connectUserId === comment.UserId || isAdmin === true">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
              
                    <ul id="menu">
                        <li>
                            <div class="button-menu-comment">
                                <button class="modify-button" [routerLink]="['/modify-comment/',comment.id]" [commentId]="comment.id">Modifier<fa-icon></fa-icon></button>
                            </div>
                        </li>
                        <li><app-delete-comment [commentId]="comment.id"></app-delete-comment></li>
                    </ul>
                  </div>
                  <div *ngIf="post.User.picture" class="picture-comment">
                      <img [src]="comment.User.picture" class="comment-picture">
                  </div>
                  <div *ngIf="post.User.picture === null">
                    <img src="{{fullPathname}}" class="comment-picture">
                  </div>
                <div class="name">
                    <p class="comment-name">{{ comment.User.firstName }} {{ comment.User.lastName }}</p>
                    <p class="at">publié le {{ comment.createdAt | date:'dd/MM/yyyy' }} à {{ comment.createdAt | date:'HH:mm' }} </p> 
                </div>
                <div class="likeComment">
                    <app-like-comments [commentId]="comment.id"></app-like-comments>
                </div>
            </div>
            <div>
                <p class="comment-content">{{ comment.content }}</p>
                <div *ngIf="comment.attachment !== null" class="img-comment">
                   <img [src]="comment.attachment"> 
                </div>
                <div *ngIf="comment.movie != null" class="img-comment">
                    <video controls>
                        <source [src]="comment.movie" class="movie">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
    </li>
</cdk-virtual-scroll-viewport> 
</ul>

