$fontcolor: #fff;
$fontStyle: "montserrat", arial, helvetica, sans-serif;
$primarycolor: rgb(18, 36, 65);
$bordercolor: rgb(209, 81, 90);
ul{
  .viewport{
    margin-top: 20px;
    height: 500px;
    .post{
      background-color: $primarycolor;
      margin-bottom: 30px;
      @media only screen and (min-width : 1224px){
        width: 70%;
        margin: 0 auto 30px;
      }
    }
    .top{
      width: 100%;
      display: flex;
      color: $fontcolor;
      font-family: $fontStyle;
      background-color: $primarycolor;
      border-top: 2px solid $bordercolor;
      border-bottom: 2px solid $bordercolor;
      padding: 20px 0 20px 0;
      position: relative;
      .picture{
        margin-left: 30px;
        background-color: $primarycolor;
        img{
          height: 60px;
          width: 60px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .top-post{
        margin: 10px 0 0 20px;
        background-color: $primarycolor;

        h1{
          font-size: 22px;
          background-color: $primarycolor;
          width: 200px;
          @media only screen and (max-width : 374px){
            width: 120px;
          }
        }
        p{
          font-size: 14px;
          background-color: $primarycolor;
        }
      }
      .interaction{
        position: absolute;
        right: 20px;
        background-color: $primarycolor;
      }
      #menuToggle
      {
        display: block;
        position: relative;
        top: -15px;
        left: -305px;
        background-color: transparent;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
        width: 90%;
        @media only screen and (min-width : 1224px){
          width: 100%;
        }
      }
      
      #menuToggle li
      {
        text-decoration: none;
        color: white;
        transition: color 0.3s ease;
        font-family: "montserrat", Arial, Helvetica, sans-serif;
      }
      
      #menuToggle li:hover
      {
        color: rgb(209, 81, 90);
      }
      
      
      #menuToggle input
      {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0; 
        z-index: 2; 
        -webkit-touch-callout: none;
      }
     
      #menuToggle span
      {
        display: block;
        width: 20px;
        height: 4px;
        margin-bottom: 2px;
        position: relative;
        background: white;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 0px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
      }
      
      #menuToggle span:first-child
      {
        transform-origin: 0% 0%;
      }
      
      #menuToggle span:nth-last-child(2)
      {
        transform-origin: 0% 100%;
      }
      
      #menuToggle input:checked ~ span
      {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: rgb(209, 81, 90);
      }
      
      #menuToggle input:checked ~ span:nth-last-child(3)
      {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
      
      #menuToggle input:checked ~ span:nth-last-child(2)
      {
        transform: rotate(-45deg) translate(0, -1px);
      }
      
      #menu
      {
        position: absolute;
        width: 100%;
        margin: -100px 0 0 -80px;
        padding: 22px 150px 10px 90px;
        background: rgb(18, 36, 65);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        border: 2px solid $bordercolor;
        border-top: none;
        top: 93px;
        @media only screen and (min-width : 1224px){
          border: none;
          background-color: rgb(82, 100, 129);
          padding: 17px 0 10px 40px;
          top: 96px;
          width: 50%;
        }
      }
      
      #menu li
      {
        padding: 5px;
        font-size: 22px;
        background : rgb(18, 36, 65);
        @media only screen and (min-width : 1224px){
          background-color: rgb(82, 100, 129);
        }
        button{
          border: 2px solid $bordercolor;
          background-color: $primarycolor;
          border-radius: 5px;
          color: $fontcolor;
          width: 120px;
          font-size: 16px;
        }
      }
      #menuToggle input:checked ~ ul
      {
        transform: none;
      }
    }
    .content{
      color: $fontcolor;
      font-family: $fontStyle;
      text-align: center;
      p{
        background-color: $primarycolor;
        margin: 20px 0 ;
      }
    }
    .attachment-post{
      width: 100%;
      display: flex;
      justify-content: center;
      img{
        width: 100%;
        border-radius: 10px;
        margin: 0 auto;
      }
      video{
        width: 100%;
        border-radius: 10px;
        margin: 0 auto;
      }
    }
  }
  .comment-post{
    display: flex;
    width: 100%;
    margin-top: 30px;
    padding: 0 10px;
    background-color: $primarycolor;
    @media only screen and (min-width : 1224px){
     width: 70%;
     margin: 0 auto;   
    }
    .user-picture{
      width: 80px;
      height: 80px;
      border-radius: 50% 0 0 50%;
      border: 1px solid $bordercolor;
      border-right: none;
      background-color: $primarycolor;
      img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .comment{
      display: flex;
      width: 100%;
      background-color: $primarycolor;
      .message{
        height: 80px;
        width: 90%;
        background-color: $primarycolor;
        border-top: 1px solid rgb(209, 81, 90);
        border-left:none;
        border-bottom: 1px solid rgb(209, 81, 90);
        border-right:none;
      }
      .button-comment{
        margin-top: 1px;
        background-color: $primarycolor;
        .picture{
          background-color: $primarycolor;
        }
        .button{
          background-color: $primarycolor;
        }
        label{
          color: white;
          border: 1px solid rgb(209, 81, 90);
          padding: 5px 10px;
          border-radius: 5px;
          margin-bottom: 5px;
          font-family: "montserrat",Arial, Helvetica, sans-serif;
          background-color: rgb(18, 36, 65);
            &:hover{
             transform: scale(1.1);
            }
        }
        .input-file{
        display: none;
        }
      }
        .comment-button{
          border-radius: 5px;
          padding: 5px 12px;
          border: 1px solid rgb(209, 81, 90);
          margin-bottom: 10px;
          color: $fontcolor;
          background-color: $primarycolor;
         }
    }
  }
  .view-comment {
      min-height: 100px;
      margin: 10px auto;
      width: 100%;
      border-radius: 10px;
      background-color: rgb(82, 100, 129);
      color: $fontcolor;
      font-family: $fontStyle;
      .comment-container{
        border-bottom:20px solid rgb(18, 36, 65);
        background-color: rgb(108, 129, 163);
        padding-bottom: 20px;
        .comment-informations{
          border-bottom: 2px solid $bordercolor;
          display: flex;
          background-color: rgb(108, 129, 163);
          @media only screen and (min-width : 1224px){
            position: relative;
          }
          .picture-comment{
            background-color: rgb(108, 129, 163);
          }
          .comment-picture{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
            margin: 35px 0 20px 10px;
            position: relative;
            left: -70px;
            top: -10px;
            margin-left: 90px;
          }
          #menuToggle
          {
            display: block;
            position: relative;
            top: 10px;
            left: 10px;
            background-color: transparent;
            z-index: 1;
            -webkit-user-select: none;
            user-select: none;
            max-width: 100px;
          }
          
          #menuToggle li
          {
            text-decoration: none;
            color: white;
            transition: color 0.3s ease;
            font-family: "montserrat", Arial, Helvetica, sans-serif;
          }
          
          #menuToggle li:hover
          {
            color: rgb(209, 81, 90);
          }
          
          
          #menuToggle input
          {
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px;
            left: -5px;
            cursor: pointer;
            opacity: 0; 
            z-index: 2; 
            -webkit-touch-callout: none;
          }
         
          #menuToggle span
          {
            display: block;
            width: 20px;
            height: 4px;
            margin-bottom: 2px;
            position: relative;
            background: white;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 0px 0px;
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;
          }
          
          #menuToggle span:first-child
          {
            transform-origin: 0% 0%;
          }
          
          #menuToggle span:nth-last-child(2)
          {
            transform-origin: 0% 100%;
          }
          
          #menuToggle input:checked ~ span
          {
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -1px);
            background: rgb(209, 81, 90);
          }
          
          #menuToggle input:checked ~ span:nth-last-child(3)
          {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
          }
          
          #menuToggle input:checked ~ span:nth-last-child(2)
          {
            transform: rotate(-45deg) translate(0, -1px);
          }
          
          #menu
          {
            position: absolute;
            width: 100%;
            margin: -100px 0 0 -50px;
            padding: 10px 150px 10px 70px;
            //padding-top: 80px;
            background: rgb(82, 100, 129);
            list-style-type: none;
            -webkit-font-smoothing: antialiased;
            transform-origin: 0% 0%;
            transform: translate(-100%, 0);
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
            border: 2px solid $bordercolor;
            border-top: none;
            top: 93px;
            .button-menu-comment{
              background-color: $primarycolor;
              @media only screen and (min-width : 1224px){
                padding-top: 25px;
              }
            }
            @media only screen and (min-width : 1224px){
              border: none;
              background-color: rgb(64, 81, 109);
              padding: 17px 0 10px 440px;
              top: 96px;
              width: 50%;
              margin-left: -450px;
              top: 70px;
            }
          }
          
          #menu li
          {
            padding: 5px;
            font-size: 22px;
            background : rgb(18, 36, 65);
            @media only screen and (min-width : 1224px){
              width: 150px;
            }
            button{
              border: 2px solid $bordercolor;
              background-color: $primarycolor;
              border-radius: 5px;
              color: $fontcolor;
              width: 120px;
              font-size: 16px;
            }
          }
          #menuToggle input:checked ~ ul
          {
            transform: none;
          }
          .likeComment{
            position: absolute;
            right: 10px;
            background-color: #6c81a3;
          }
        }
        .name{
          margin: 30px 0 0 10px;
          background-color: rgb(108, 129, 163);
          .comment-name{
            background-color: rgb(108, 129, 163);
            font-size: 22px;
            margin-bottom: 0;
            position: relative;
            left: -70px;
            width: 200px;
            @media only screen and (max-width : 374px){
              width: 120px;
            }
          }
          .at{
            background-color: rgb(108, 129, 163);
            font-size: 14px;
            position: relative;
            left: -70px;
            
          }
        }
        .comment-content{
          text-align: center;
          margin-top: 20px;
          background-color: rgb(108, 129, 163);
        }
        .img-comment{
          width: 100%;
          img{
            width: 100%;
          }
          video{
            width: 100%;
          }
        }
      }
}
}
fa-icon{
  background-color: $primarycolor;
}
.svg-inline--fa.fa-w-14{
  background-color: $primarycolor;
}