::ng-deep * {
    margin: 0;
    padding: 0;
    background-color: rgb(18, 36, 65);
    
}
.post{
    width: 100%;
    background-color: rgb(34, 53, 83);
    margin: 20px 0px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.72);
    @media only screen and (min-width : 1224px) {
      width: 80%;
      margin: 40px auto;
      }
    .top{
      display: flex;
        .picture{
          background-color: rgb(34, 53, 83);
          margin: 0;
          img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-left: 20px;
            object-fit: cover;
          }
        }
        h1{
            background-color: rgb(34, 53, 83);
            color: white;
            font-size: 20px;
            width: 180px;
            padding-top: 20px;
            font-family: "montserrat", Arial, Helvetica, sans-serif;
              @media only screen and (min-width : 1224px){
            width: 200px;
          }
        }
        p{
            background-color: rgb(34, 53, 83);
            color: white;
            font-size: 16px;
            margin-bottom: 5px;
            font-family: "montserrat-regular", Arial, Helvetica, sans-serif;
              @media only screen and (min-width : 1224px){
            //width: 220px;
          }
        }
        border-bottom: 2px solid rgb(209, 81, 90);
        background-color: rgb(34, 53, 83);
        .user-name{
          width: 220px;
        }
    }
    .content{
        background-color: rgb(34, 53, 83);
        color: white;
        font-size: 18px;
        font-family: "montserrat-regular", Arial, Helvetica, sans-serif;
        display: flex;
        width: 100%;
        margin: 0 auto 20px;
        padding: 20px 0;
        border-bottom: 2px solid rgb(209, 81, 90) ;
        @media only screen and (min-width : 1224px){

        }
        p{
            background: rgb(34, 53, 83);
            margin-left: 50px;
        }
    }
    img{
        width: 100%;
        margin: 20px auto 20px;
        border-radius: 10px;
        display: flex;
        @media only screen and (min-width : 1224px) {
          width: 800px;
          height: 400px;
          }
   }
}
.interaction{
    margin: 0 10px 10px 10px;
    padding: 10px;
    background-color: rgb(34, 53, 83);
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 60px;
    @media only screen and (min-width : 1224px){
      right: 100px;
    }
    .likes-counter{
      font-family: "montserrat-regular", Arial, Helvetica, sans-serif;
      border: 1px solid rgb(209, 81, 90);
      border-radius: 50%;
      padding: 5px;
      height: 10px;
      width: 15px;
      padding: 5px 0px 10px 10px;
      position: absolute;
      right: -60px;
      z-index: 1;
      @media only screen and (min-width : 1224px){
        right: -5px;
      }
    }
}




body
{
  margin: 0;
  padding: 0;
  background-color: rgb(18, 36, 65);
  color: rgb(18, 36, 65);
  font-family: "montserrat", sans-serif;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 10px;
  left: -400px;
  background-color: transparent;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  width: 90%;
  @media only screen and (min-width : 1224px){
    left: -350px;
  }
}
#menuToggleComment
{
  display: block;
  position: relative;
  top: 5px;
  left: 0px;
  background-color: transparent;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  width: 10%;
}

#menuToggle li
{
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  margin-left: 200px;
}
#menuToggleComment li
{
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  margin-left: 200px;
}

#menuToggle li:hover
{
  color: rgb(209, 81, 90);
}
#menuToggleComment li:hover
{
  color: rgb(209, 81, 90);
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}
#menuToggleComment input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 20px;
  height: 4px;
  margin-bottom: 2px;
  position: relative;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 0px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggleComment span
{
  display: block;
  width: 20px;
  height: 4px;
  margin-bottom: 2px;
  position: relative;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 0px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}
#menuToggleComment span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggleComment span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: rgb(209, 81, 90);
}
#menuToggleComment input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: rgb(209, 81, 90);
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggleComment input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menuToggleComment input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 230%;
  margin: -35px 0 0 -270px;
  padding: 10px 50px;
  top: 40px;
  background: rgb(18, 36, 65);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  font-size: 22px;
  background : rgb(18, 36, 65);
  width: 130px;
  height: 30px;
  padding: 10px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
#menuToggleComment input:checked ~ ul
{
  transform: none;
}
.top-post{
  display: flex;
  flex-direction: column;
  background-color: rgb(34, 53, 83);
  margin-left: 20px;
  padding-bottom: 10px;
}

.user-picture{
  border-radius: 50% 0 0 50%;
  .picture-profile{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0;
  object-fit: cover;
  @media only screen and (min-width : 1224px){
    height: 100px;
    width: 100px;
  }
}
}
.user-picture-profile{
  background-color: rgb(18, 36, 65);
  border-radius: 50% 0 0 50%;
  padding-left: 2px;
}
.comment-post{
  display: flex;
  width: 90%;
  height: 80px;
  margin: 0 auto;
  border-radius: 50px 5px 5px 50px;
  border: 1px solid rgb(209, 81, 90);
  @media only screen and (min-width : 1224px){
    height: 100px;
  }

}
.message{
  width: 190px;
  height: 79px;
  padding-left: 20px;
  resize: none;
  outline: none;
  color: white;
  font-size: 16px;
  border: none;
  font-family: "montserrat",Arial, Helvetica, sans-serif;
  background-color: rgb(18, 36, 65);
  @media only screen and (min-width : 1224px){
    width: 590px;
    height: 95px;
  }
  }
  .comment{
    border-radius: 0 50px 50px 0;
    display: flex;
  }
  .button-comment{
    height: 65px;
    width: 15px;
    margin:  5px auto 0;
    position: absolute;
    right: 53px;
    @media only screen and (min-width : 1224px){
      right: 180px;
      margin-top: 15px;
    }
  }
.button{
    background-color: transparent;
    height: 50px;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    &:hover{
      transform: scale(1.1);
      @keyframes rotate {
          from{
              transform: rotate3d(0, 0, 0, 0);
          } to {
              transform: rotate3d(1, 1, 1, 360deg);
          }
      }
      animation: rotate 0.5s linear 0s 1 forwards ;
  }
}
button{
    font-size: 16px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    display: flex;
    background-color: rgb(18, 36, 65);
    position: absolute;
    &:hover{
        transform: scale(1.1);
    }
    fa-icon{
        margin: 0 2px;
        font-size: 14px;
    }
    .paperclip{
      font-size: 14px;
    }    
}
.comment-button{
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px 10px;
    border: 1px solid rgb(209, 81, 90);
}
.comment-send-picture{
  border-radius: 50%;
}
p{
  color: white;
  
}
.comment-informations{
  display: flex;
  margin-bottom: 10px;
  border-bottom: 2px solid rgb(209, 81, 90);
  padding-bottom: 10px;
}
.view-comment{
  margin: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 7px 0px #363434;
  
  .comment-container{
    padding: 5px;
    border-radius: 10px;
    width: 100%;
  }
  .comment-firstname{
    margin-right: 6px;
    font-family:  "montserrat", Arial, Helvetica, sans-serif;
  }
  .comment-lastname{
    font-family:  "montserrat", Arial, Helvetica, sans-serif;
  }
  .comment-picture{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px 10px 10px 0 ;
    object-fit: cover;
  }
  .name{
    margin-top: 20px;
    display: flex;
    font-weight: bold;
  }
  .comment-content{
    font-family:  "montserrat-regular", Arial, Helvetica, sans-serif;
  }
}
.viewport {
  height: 400px;
  margin: 0 auto;
  width: 100%;
  @media only screen and (min-width : 1224px){
    height: 610px;
    width: 1000px;
  }
}
.viewport-comment {
  height: 300px;
  margin: 10px auto;
  width: 100%;
  border-radius: 10px;
  @media only screen and (min-width : 1224px){
    height: 400px;
  }
}

label{
  color: white;
  border: 1px solid rgb(209, 81, 90);
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "montserrat",Arial, Helvetica, sans-serif;
  background-color: rgb(18, 36, 65);
  &:hover{
     transform: scale(1.1);
  }
  
}

.input-file{
display: none;
}
.picture{
color: white;
margin: 5px 10px 10px;
background-color: transparent;
}
.likeComment{
  position: absolute;
  left: 280px;
}
.img-comment{
  img{
    width: 100%;
  }
}
video{
  width: 300px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  @media only screen and (min-width : 1224px){
    width: 500px;

  }
  
}