
<ul class="list-group">
    <cdk-virtual-scroll-viewport itemSize = "500" class = "viewport"> 
    <li class="list-group-item">
        <div class="post" *cdkVirtualFor='let post of allPost' >
            <div class="top">
                <div class="picture" *ngIf="post.User.picture">
                    <img [src]="post.User.picture">
                </div>
                <div class="picture" *ngIf="post.User.picture === null">
                    <img src="{{fullPathname}}">
                </div>
                <div class="top-post">
                    <h1>{{ post.User.firstName }} {{ post.User.lastName }}</h1>
                    <p class="user-name">publié le {{ post.createdAt | date:'dd/MM/yyyy' }} à {{ post.createdAt | date:'HH:mm' }} </p>                    
                </div>
                <div class="interaction">
                    <app-like [postId]="post.id" [like]="post.like"></app-like>
                    <p *ngIf="post.likes > 0 " class="likes-counter"> {{ post.likes }} </p>
                </div>
                <div id="menuToggle" *ngIf="connectUserId === post.UserId || isAdmin === true">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
              
                    <ul id="menu">
                        <li>
                            <div class="button">
                                <button [routerLink]="['/modify-post/',post.id]" [postId]="post.id">Modifier<fa-icon></fa-icon></button>
                            </div>
                        </li>
                        <li><app-delete-post [postId]="post.id"></app-delete-post></li>
                    </ul>
                  </div>
            </div>
            <div *ngIf="post.attachment != null">
                <img [src]="post.attachment" >
            </div>
            <div *ngIf="post.movie != null">
                <video controls width="340">
                    <source [src]="post.movie">
                </video>
            </div>
            <div class="content">
               <p>{{ post.content }}</p>  
            </div>



        <div class="comment-post">
            <div class="user-picture" *ngFor="let userProfile of oneUserProfil">
                <div *ngIf="userProfile.picture" class="user-picture-profile">
                   <img [src]="userProfile.picture" class="picture-profile"> 
                </div>
                <div *ngIf="userProfile.picture === null " class="user-picture-profile">
                    <img src="{{fullPathname}}" class="picture-profile"> 
                 </div>
            </div>
            <div class="comment" [formGroup]="postComment">
                <textarea class="message form-control" placeholder="Votre commentaire ..." formControlName="postOneComment"></textarea>
                <div class="button-comment">
                <div class="picture">
                    <label for="fileComment" class="label-file"><fa-icon [icon]="faPaperClip"></fa-icon></label>
                    <input id="fileComment" type="file" name="image" class="input-file form-control" (change)="onFileCommentAdded($event)" formControlName="attachmentComment">
                </div>   
                <div class="button">
                    <button class="comment-button" (click)="writeComment(post.id)"><fa-icon [icon]="faComment"></fa-icon></button>
                </div>
            </div>
            </div>
            
        </div>
        <cdk-virtual-scroll-viewport itemSize = "100" class = "viewport-comment" *ngIf="post.Comments != 0 "> 
        <div class="view-comment" *cdkVirtualFor='let comment of comments'>
            <div class="comment-container" *ngIf="post.id === comment.messageId">
                
            <div class="comment-informations"  >
                <div id="menuToggleComment" *ngIf="connectUserId === comment.UserId || isAdmin === true">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
              
                    <ul id="menu">
                        <li>
                            <div class="button">
                                <button [routerLink]="['/modify-comment/',comment.id]" [commentId]="comment.id">Modifier<fa-icon></fa-icon></button>
                            </div>
                        </li>
                        <li><app-delete-comment [commentId]="comment.id"></app-delete-comment></li>
                    </ul>
                  </div>
                  <div *ngIf="post.User.picture">
                      <img [src]="comment.User.picture" class="comment-picture">
                  </div>
                  <div *ngIf="post.User.picture === null">
                    <img src="{{fullPathname}}" class="comment-picture">
                  </div>
                <div class="name">
                    <p class="comment-firstname">{{ comment.User.firstName }}</p> 
                    <p class="comment-lastname">{{ comment.User.lastName }}</p>
                </div>
                <div class="likeComment">
                    <app-like-comments [commentId]="comment.id"></app-like-comments>
                </div>
            </div>
            <div>
                <p class="comment-content">{{ comment.content }}</p>
                <div *ngIf="comment.attachment !== null" class="img-comment">
                   <img [src]="comment.attachment"> 
                </div>
                <div *ngIf="comment.movie != null" class="img-comment">
                    <video controls>
                        <source [src]="comment.movie" class="movie">
                    </video>
                </div>
            </div>
        </div>
        </div>
        </cdk-virtual-scroll-viewport> 
        </div>
    </li>
</cdk-virtual-scroll-viewport> 
</ul>

