<app-header></app-header>
<app-nav></app-nav>
<h1>Paramètres du compte</h1>
<div class="information">
    <div class="modification">
        <p>Nom : Dupont</p>
        <button>Modifier</button>
    </div>
    <div class="modification">
        <p>Prénom : Jean</p>
        <button>Modifier</button>
    </div>
    <div class="modification">
        <p>Email : truc@gmail.com</p>
        <button>Modifier</button>
    </div>
    <div class="modification">
        <p>Date de naissance : 05/09/1876</p>
        <button>Modifier</button>
    </div>
    <div class="picture">
        <p>Photo de profil :</p>
        <label for="file" class="label-file">Choisir une image</label>
        <input id="file" type="file" class="input-file">
    </div>
</div>
<app-footer></app-footer>
