.writeMessage{
    display: flex;
    vertical-align: center;
    margin: 10px auto;
    width: 90%;
    border-bottom: 1px solid rgb(0, 121, 177);
    img{
    width: 60px;
    height: 60px;
    margin: auto 0;
    }
    .message{
    width: 300px;
    height: 70px;
    margin-left: 10px;
    padding-left: 10px;
    resize: none;
    outline: none;
    color: white;
    font-size: 16px;
    border: none;
    }
    ::placeholder{
        position: absolute;
        top: 25px;
        color: white;
        font-size: 16px;
    }
}
.button{
    width: 90%;
    margin: 0 auto;
    button{
        font-size: 16px;
        color: white;
        padding: 5px 10px;
        border: 2px solid rgb(0, 121, 177);
        border-radius: 5px;
        outline: none;
        &:hover{
            transform: scale(1.1);
        }
       
    }
    .margin{
        margin-left: 20px;
    }
    .input-file{
        display: none;
    }
    label{
        color: white;
        border: 2px solid rgb(0, 121, 177);
        padding: 5px 10px;
        border-radius: 5px;
        &:hover{
           transform: scale(1.1); 
        }
        
    }
}

