<div [formGroup]="createMessage">
    <div class="writeMessage">
        <!-- ici photo de profil -->
        <img src="{{fullPathname}}">
        <textarea placeholder="Que voulez vous dire ?" class="message form-control" formControlName="createOneMessage"></textarea>
    </div>
    <div class="button">
        <label for="file">Ajouter une photo</label>
        <input type="file" id="file" class="input-file" > 
        <button class="margin" (click)="postMessage()">Envoyer</button>
    </div>
</div>