::ng-deep * {
    margin: 0;
    padding: 0;
    background-color: rgb(51, 51, 53);
    
}
.post{
    background-color: rgb(65, 65, 68);
    margin: 0 10px;
    padding: 10px;
    .top{
        h1{
            background-color: rgb(65, 65, 68);
            color: white;
            font-size: 20px;
            font-family: "montserrat", Arial, Helvetica, sans-serif;
        }
        p{
            background-color: rgb(65, 65, 68);
            color: white;
            font-size: 16px;
            margin-bottom: 5px;
            font-family: "montserrat-regular", Arial, Helvetica, sans-serif;
        }
        border-bottom: 1px solid rgb(0, 121, 177);
        background-color: rgb(65, 65, 68);
    }
    p{
        background-color: rgb(65, 65, 68);
        color: white;
        font-size: 18px;
        font-family: "montserrat-regular", Arial, Helvetica, sans-serif;
    }
}
.interaction{
    margin: 0 10px 10px 10px;
    padding: 10px;
    background-color: rgb(65, 65, 68);
}
