
<ul class="list-group">
    <li class="list-group-item" *ngFor='let value of allmessage'>
        <div class="post" >
            <div class="top">
                <h1>{{ value.User.firstName }} {{ value.User.lastName }} </h1>
                <p>publié le {{ value.createdAt | date:'dd/MM/yyyy'}} à {{ value.createdAt | date:'HH:mm'  }}</p>
            </div>
            <img [src]="value.attachment">
            <p>{{value.content}}</p>
        </div>
        <div class="interaction">
            <app-like></app-like>
            <app-comment></app-comment>
        </div>
    </li>
</ul>