::ng-deep * {
    margin: 0;
    padding: 0;
    background-color: rgb(82, 100, 129);
    
}

button{
    font-size: 16px;
    color: white;
    padding: 5px 10px;
    border: 2px solid rgb(209, 81, 90);
    border-radius: 5px;
    outline: none;
    background-color: rgb(18, 36, 65);

    &:hover{
        transform: scale(1.1);
    }
    fa-icon{
        margin-left: 10px;
    }
   
}
