<div [formGroup]="postMessage" *ngFor="let userProfile of oneUserProfil">
    <div class="writeMessage">
        <!-- ici photo de profil -->
        <img [src]="userProfile.picture">
        <textarea placeholder="Que voulez vous dire ?" class="message form-control" formControlName="postOneMessage"></textarea>
    </div>
    <div class="button">
        <label for="file">Ajouter une photo</label>
        <input type="file" id="file" name="image" class="input-file form-control" formControlName="attachment" (change)="onFileAdded($event)"> 
        <button class="margin" (click)="writePost()">Envoyer</button>
    </div>
</div>