<app-header></app-header>
<app-nav></app-nav>
<div [formGroup]="modifyComment" *ngFor="let comment of oneComment">
  <form>
    <h1>Modifier votre commentaire : </h1>
    <div class="form-group"> 
       <textarea class="message form-control" formControlName="content" [(ngModel)]="comment.content"></textarea>
    </div>
    <div class="picture">
        <p>Pièce jointe : <img [src]="" alt=""></p>
        <label for="file" class="label-file">Choisir une image</label>
        <input id="file" accept=".png, .jpeg, .jpg, .mp4" type="file" class="input-file" (change)="onFileAdded($event)"> 
    </div>     
    <button (click)="updateComment()" routerLink="/home">Valider</button>
  </form>  
</div>

<app-footer></app-footer>